section#kontakty.container.content-section.text-center
  .row
    .col-lg-6.col-lg-offset-3
      h2 Kontaktujte nás
        br
        small Volební tým
      table.table
        tbody
          tr
            td Vedoucí volebního týmu<br>a kontakt pro média
            th Lukáš Bartoň
            td
              a(href="mailto:lukas.barton@pirati.cz") lukas.barton<wbr>@pirati.cz
              br
              | 723&nbsp;199&nbsp;594
          tr
            td Tvorba audio-video
            th Petr Bohuslav
            td
              a(href="mailto:petr.bohuslav@pirati.cz") petr.bohuslav<wbr>@pirati.cz
          tr
            td Člen volebního týmu
            th Petr Vileta
            td
              a(href="mailto:petr.bohuslav@pirati.cz") petr.vileta<wbr>@pirati.cz
          tr
            td Člen volebního týmu
            th Magdalena Daňková
            td
              a(href="mailto:petr.bohuslav@pirati.cz") magda.dankova<wbr>@pirati.cz
          tr
            td Správa webu
            th Petr Kopač
            td
              a(href="mailto:kopacpetr@gmail.com") kopacpetr<wbr>@gmail.com
      include ./social
      a(href="https://kraje.pirati.cz/" target="_blank" title="Rozcestník na celou republiku")
        .img(data-src="/img/rozcestnik.png").lazy
