section#akce.container.content-section.text-center
  .row
    .col-lg-8.col-lg-offset-2
      h2 Předvolební akce
      p Rádi se s vámi setkáme na předvolebních akcích, seznam akcí:
      p
        strong Stánek U Branky v Plzni před volbami.
      br
      p Další akce plánujeme, sledujte naše informační kanály.
      p Máte-li zájem o propagační předměty, neváhejte nás <a href="#kontakty">kontaktovat</a>.
      
