.extraBackground
  section#media.container.content-section.text-center
    .row
      .col-lg-8.col-lg-offset-2
        h2 Média
          br
          small Napsali o nás
        h3 Vizitka leadera Lukáše Bartoně na Českém Rozhlase
          audio(src="https://samizdat.blob.core.windows.net/vizitky16/plzensky-kraj-pirati-lukas-barton.mp3" preload="none" controls="yes" width="100%")
          br
          a.small(href="https://interaktivni.rozhlas.cz/lidri-krajskych-kandidatek/") Zdroj
        h3
          a(href="http://www.ceskatelevize.cz/ct24/domaci/1897913-do-debat-ceske-televize-jde-107-krajskych-lidru-rozhodl-o-tom-volebni-potencial-stran") ČT24: Do debat České televize jde 107 krajských lídrů.<br/>Rozhodl o tom volební potenciál stran
        h3
          a(href="http://plzen.cz/pirati-chteji-v-plzni-hejtmanstvi-ktere-kazdemu-zajisti-svobodu-a-naplneny-zivot-58295/") Plzen.cz: Piráti chtějí v Plzni hejtmanství,<br/>které každému zajistí svobodu a naplněný život
        h3
          a(href="http://www.krajskevolby2016.cz/pirati-predstavuji-program-zapojime-obcany-do-rozhodovani/") Krajské volby 2016: Piráti představují program:<br/>Zapojíme občany do rozhodování
        h3
          a(href="http://www.krajskevolby2016.cz/pirat-bartos-opet-na-scene-povede-stranu-do-krajskych-voleb/") Krajské volby 2016: Pirát Bartoš opět na scéně,<br/>povede stranu do krajských voleb
