a.btn-lg.btn-social-icon.btn-facebook(type="button" target="_blank" href="javascript:myPopup('https://www.facebook.com/sharer/sharer.php?u=https%3A//plzensko.pirati.cz');")
  | Sdílej&nbsp;na&nbsp;
  span.fa.fa-facebook
|  &nbsp;&shy;

a.btn-lg.btn-social-icon.btn-twitter(type="button" target="_blank" href="javascript:myPopup('https://twitter.com/home?status=Prost%C4%9B%20volim%20Pir%C3%A1ty%20a%20tady%20je%20pro%C4%8D%3A%20https%3A//plzensko.pirati.cz');")
  | Sdílej&nbsp;na&nbsp;
  span.fa.fa-twitter
|  &nbsp;&shy;

a.btn-lg.btn-social-icon.btn-google-plus(type="button" target="_blank" href="javascript:myPopup('https://plus.google.com/share?url=https%3A//plzensko.pirati.cz');")
  | Sdílej&nbsp;na&nbsp;
  span.fa.fa-google-plus
