a.btn-lg.btn-social-icon.btn-facebook(target="_blank" href="https://www.facebook.com/plzenska.piratska.strana/" title="Krajská stránka na Facebooku")
  span.fa.fa-facebook
| &nbsp;
a.btn-lg.btn-social-icon.btn-twitter(target="_blank" href="https://twitter.com/PiratePartyCZ" title="Twitter profil")
  span.fa.fa-twitter
| &nbsp;
a.btn-lg.btn-social-icon.btn-youtube(target="_blank" href="https://www.youtube.com/user/CeskaPiratskaStrana" title="Kanál Pirátů na Youtube")
  span.fa.fa-youtube
