include ./mixins

section#transparence.container.content-section
  h2 Transparence
  .row
    .col-md-8.col-md-offset-2
      h3 Naše plnění<br />Kritérií dobré praxe<br />Transparency Internetional
      p Transparency International
        a(href="http://www.transparentnivolby.cz/podzim2016/o-projektu/" title="O projektu" target="_blank")  opět hodnotí
        |  transparentnosti jednotlivých volebních kampaní politických stran. Ačkoliv hodnotí centrály, tak za Plzeňský kraj můžeme zodpovědět některá jejich
        a(href="http://www.transparentnivolby.cz/podzim2016/kriteria-hodnoceni/" target="_blank")  kritéria
        | . Na naší transparentnosti si zakládáme, protože se jedná o nejúčinější prvek v&nbsp;boji proti korupci.
  .row
    .col-md-8.col-md-offset-2
      .panel-group#accordion7(role="tablist" aria-multiselectable="false")
        .panel.panel-default
          +header("1) Plánované náklady na kampaň", "kampan", 7)
            ul
              li Jaká je celková suma plánovaných nákladů vaší strany na tuto kampaň?
              li Kde je tato částka zveřejněna?
            hr
            p Plzeňské krajské sdružení vyčlenilo na předvolební kam&shy;paň až 200 tis.&nbsp;Kč. Tuto částku nemá v&nbsp;úmyslu utratit celou, ale pokud bude potřeba, tak se až do této částky může pohybovat.
              br
              a(href="https://www.pirati.cz/fo/hospodareni2016/rozpocty/plzensko/start")  Rozklikávací rozpočet Pirátů Plzeňského kraje.
            p Centrála Pirátů ve svém Mediální odboru vyčlenila na "Volby" 300 tis.&nbsp;Kč a za částečný předvolební výdaj lze považovat i její rozpočtovou položku "Propagace strany" ve výši 200 tis.&nbsp;Kč.
              br
              a(href="https://www.pirati.cz/fo/hospodareni2016/rozpocty/strana/212800000")  Rozklikávací rozpočet Mediálního odboru
            p V případě nepředpokládaných a tedy i neplánovaných výdajů lze průšvihy hradit z&nbsp;rezervy republikového předsednictva, kde je pro různé účely vyčleněno 276 tis.&nbsp;Kč, které ale nejsou plánované pro použití na volby.
              br
              a(href="https://www.pirati.cz/fo/hospodareni2016/rozpocty/strana/212500000")  Rozklikávací rozpočet Republikové předsednictva
            p Veškeré výdajové i příjmové položky uvádíme v
              a(href="#rozpocet")  přehledné tabulce na Předvolebním webu.
          +header("2) Zřízení transparentního účtu", "uctu", 7)
            ul
              li Máte pro tuto kampaň transparentní účet? Kde je účet dohledatelný?
            hr
            p Ano, i samotná předvolební kampaň v&nbsp;kraji má vlastní transparentní předvolební účet. Účet je zveřejněn na našem předvolebním webu:
              a(href="#ucty")  Transparence &rarr;&nbsp;Trans&shy;parentní účty
            ul
              li Jsou jednotlivé položky účtu srozumitelně popsány?
            hr
            p Ano. U příjmů, drobných darů vyžadujeme uvedení dárce v&nbsp;poznámce, jinak jsou peníze vráceny zpět na účet ze kterého přišly.
              br
              | U výdajů je v&nbsp;poznámce číslo účetní položky a v&nbsp;<a href="https://www.pirati.cz/fo/vydaje/start">registru výdajů</a> u tohoto čísla naleznete účet
            ul
              li Plynou všechny prostředky přes tento účet? Pokud ne, prosím vysvětlete.
            hr
            p Přes tento účet plynou všechny předvolební prostředky vynaložené krajem. Celorepublikový Mediální odbor (čtěte Pražáci) také pomáhají všem krajům a používají na to své zdroje. Všechny platby jdou přes stranické transparentní účty, Piráti nemají žádné zdroje, které nejsou na transparentních účtech, všechny smlouvy jsou v&nbsp;registru smluv a všechny účty jsou dohledatelné v&nbsp;registru výdajů.
              br
              a(href="https://www.pirati.cz/fo/seznam_uctu")  Transparentní účty strany
          +header("3) Transparentní finance v&nbsp;rámci strany", "strany", 7)
            ul
              li Jakou částkou přispíváte z&nbsp;centrální úrovně na kampaň jednotlivým kandidátům na senátory a na krajské volby?
            hr
            p V Plzeňském kraji se senátorských voleb neúčastníme a na krajské volby se přispívá z&nbsp;centrální úrovně přes Mediální odbor a Republikové předsednictvo (popsáno v&nbsp;bodu 1). Finanční i hmotné příjmy na kampaň jsou uvedené v&nbsp;seznamu na našem předvolebním webu.
          +header("4) Přijímání darů v&nbsp;rámci strany", "vRamciStrany", 7)
            ul
              li Jakým způsobem evidujete dary (a darovací smlouvy) jednotlivým kandidátům vaší strany na jiné než centrální úrovni?
              li Máte přehled o získaných darech svých regionálních organizací v&nbsp;době konání kampaně? Pokud ano, jakou formou získáváte o těchto darech přehled?
              li Je přijímání darů v&nbsp;kompetenci krajských organizací nebo je schvaluje centrála (existuje průběžný systém evidence)?
            hr
            p Dary přijímáme pouze na centrální úrovni a i když bude dán dar přímo na náš předvolební krajský účet, tak ten je stále spravován a evidován centrálně. Darovací smlouvy u hodnotnějších darů musí být zařazeny do centrálního registru smluv, kde jsou všechny smlouvy jakékoliv složky Pirátů. Přijetí daru nad 50&nbsp;000&nbsp;Kč musí předem schválit republikové předsednictvo.
            p
              a(href="https://smlouvy.pirati.cz/") Pirátský registr smluv
              br
              a(href="https://www.pirati.cz/fo/dary") Přijímání finančních darů přes centrální formulář
              br
              | Evidence darů, které přijali Piráti v&nbsp;Plzeňském kraji je zveřejněná na
              a(href="#rozpocet")  předvolebním webu

          +header("5) Transparentní spolupráce v&nbsp;rámci strany", "spoluprace", 7)
            ul
              li Jak krajská i senátní kampaň jednotlivých kandidátů koordinována z&nbsp;centrální úrovně? Jakou podporu v&nbsp;kampani z&nbsp;centrály poskytujete kandidátům(podporu finanční, poskytnutí služeb, personální – např. centrální volební manažer, zajištění jednotného vizuálního stylu, manuály, billboardy, zaplacená reklamní kampaň, služby agentur, personální pomoc, apod.)?
              li Dostáváte od kandidátů či místních sdružení vyúčtování jejich kampaně dříve nežli pro účely finanční výroční zprávy?
            hr
            p Předvolební kampaň je řízená na krajské úrovni. Centrální úroveň poskytuje některé služby, které jsou výhodné dělat centrálně, kupříkladu tisk novin pro všechny kraje, výroba propagačních předmětů. Piráti mají jednotný vizuální styl zveřejněný na webových stránkách, včetně manuálů. Na centrální úrovni pomáhají zejména Pražáci, kteří nemají krajské volby. Billboardy nemáme, personální agentury také ne. Spoléháme na dobrovolníky a v&nbsp;případě agentur pomáhajících s distribucí vyjednáváme lokálně.
          +header("6) Transparentní výdaje na celostátní kampaň", "celostatniKampan", 7)
            ul
              li Zveřejňujete, jaké jsou vaše výdaje na tuto kampaň na centrální úrovni (nejen koordinace a podpora kandidátů, ale i samostatná celostátní image kampaň) – např. náklady na administrativní zázemí, billboardy, inzerci v&nbsp;tištěných a on-line médiích, náklady na vytvoření spotu/klipů, případně reklamních předmětů, zajištění meetingů, služby PR/konzultačních firem,…apod.)?
              li Kde jsou tyto informace dostupné?
            hr
            p Vizte odpoveď na otázku číslo 1.
          +header("7) Volební tým a dobrovolníci v&nbsp;kampani", "vKampani", 7)
            ul
              li Kdo je hlavním koordinátorem vašich volebních kampaní?
              li Jaké je složení vašeho volebního týmu (s uvedením rolí jednotlivých členů v&nbsp;kampani včetně poradců) a kolik dobrovolníků je zapojených ve vaší kampani?
              li Spolupracujete na kampani s některou agenturou (PR, reklamní)? Pokud ano, se kterou?
              li Kde jsou tyto informace dohledatelné?
            hr
            p
              a(href="#kontakty") Volební tým
              |  je zveřejněn na předvolebním webu.
            p Zatím máme zhruba deset dobrovolníků pomáhajících s kampaní.
            p Máme smluvenou agenturu na výlep plakátů a Českou poštu na roznos novin.
          +header("8) Seznam komunikačních kanálů, které využíváte ve své krajské kampani", "komunikacniKanaly", 7)
            ul
              li Uveďte odkazy na weby, sociální sítě, YouTube kanály (jiné).
            hr
            ul
              li
                a(href="https://www.pirati.cz/") Hlavní webová stránka Pirátů
              li
                a(href="https://plzensko.pirati.cz/") Stránka kampaně
              li
                a(href="https://www.pirati.cz/regiony/plzensko/start") Stránka Krajského fóra Pirátů
              li
                a(href="https://www.facebook.com/plzenska.piratska.strana/") Facebooková stránka Pirátů Plzeňského kraje
              li
                a(href="https://www.youtube.com/user/CeskaPiratskaStrana") Youtube kanál Pirátů

  .row
    .col-md-8.col-md-offset-2
      br
      h3#rozpocet Rozpočet
      p Krajské fórum Plzeňského kraje 1.3.2016 schválilo rozpočet kraje, ve kterém vyhradilo až 200 tis.&nbsp;Kč na předvolební kampaň v&nbsp;pro krajské volby 2016.
        a(href="https://www.pirati.cz/regiony/plzensko/zapisy/01-03-2016")  Zápis o celkovém ročním rozpočtu celého kraje.
  .row
    .col-md-8.col-md-offset-2
      h4 Rozpočet kampaně v&nbsp;Plzeňském kraji
      table.table
        thead
          tr
            th.text-left Kapitola
            th.text-right Předpokládané náklady
        tbody
          tr
            td.text-left Předvolební noviny a&nbsp;letáky
            td.text-right 30&nbsp;000&nbsp;Kč
          tr
            td.text-left Roznos novin
            td.text-right 40&nbsp;000&nbsp;Kč
          tr
            td.text-left Plakáty &mdash; výroba i&nbsp;výlep
            td.text-right 50&nbsp;000&nbsp;Kč
          tr
            td.text-left Reklamní předměty
            td.text-right 20&nbsp;000&nbsp;Kč
          tr
            td.text-left Drobný majetek (stůl, stan&hellip;)
            td.text-right 10&nbsp;000&nbsp;Kč
          tr
            td.text-left Reklama (časopis, facebook&hellip;)
            td.text-right 15&nbsp;000&nbsp;Kč
          tr
            td.text-left Poplatky
            td.text-right 5&nbsp;000&nbsp;Kč
          tr
            td.text-left Cesťáky a drobné výdaje
            td.text-right 20&nbsp;000&nbsp;Kč
      p.small Poznámka: Sestavený rozpočet není dogmatický a volební tým ho může dle aktuální potřeby upravovat.
        |  Nevyužité finance z&nbsp;krajské dotace budou navráceny zpět do rozpočtu kraje.
        |  Nevyužité finance od dárců na volební kampaň budou vráceny zpět dárcům.
  .row
    .col-md-8.col-md-offset-2
      h4 Příjmy
      table.table
        thead
          tr
            th.text-left Původ
            th.text-right Hodnota
        tbody
          tr
            td.text-left
              a(href="https://www.pirati.cz/fo/hospodareni2016/rozpocty/plzensko/start") Vyčleněno krajským sdružením na kampaň
            td.text-right 200&nbsp;000&nbsp;Kč

      p V kampani budou též použity materiály poskytnuté centrálou:
        br
        small (nejdou přes krajský transparentní účet na volby)
      table.table
        thead
          tr
            th.text-left Předmět
            th.text-right Množství
            th.text-right Hodnota
        tbody
          tr
            td.text-left Reklamní materiál - žetony do vozíků
            td.text-right 500&nbsp;ks
            td.text-right cca 5000&nbsp;Kč
          tr
            td.text-left Předvolební noviny
            td.text-right 50&nbsp;000&nbsp;ks
            td.text-right cca 50&nbsp;000&nbsp;Kč

  .row
    .col-md-8.col-md-offset-2
      h4 Dary
      p Dary: Radši nám nic nedávejte a použijte peníze rozumněji než na politickou kampaň. Pokud i přes to nám něco chcete dát, tak postupujte přes
        a(href="https://www.pirati.cz/fo/dary")  tento formulář.
      p Dary nad 50&nbsp;000 už vůbec nechceme a jejich přijetí vyžaduje předběžné schválení republikového předsednictva a sepsání darovací smlouvy. V Plzeňském kraji se bráníme přijímání darů na předvolební kampaň, protože nechceme být nikomu zavázáni.
      p Zatím jsme žádné dary na předvolební kampaň nedostali a těší nás to.
  .row
    .col-md-8.col-md-offset-2
      h4 Výdaje
      table.table
        thead
          tr
            th.text-left Výdaj
            th.text-right Hodnota
            th.text-right Doklad
        tbody
          tr
            td.text-left Propagační předměty magnetické nálepky na auto
            td.text-right -410&nbsp;Kč
            td.text-right
              a(href="https://www.pirati.cz/fo/vydaje/fo_244_2016") FO 244/2016
          tr
            td.text-left Koordinační schůzka	cestovné - Jakl Aleš
            td.text-right -372&nbsp;Kč
            td.text-right
              a(href="https://www.pirati.cz/fo/vydaje/fo_280_2016") FO 280/2016

  .row
    .col-md-8.col-md-offset-2
      h3#ucty Transparentní účty
      p
        a(href="https://www.fio.cz/ib2/transparent?a=2700074034") Transparentní účet přímo ke krajským volbám v Plzeňském kraji
      p Dále se můžete pokochat transparentními účty strany, kde jsou všechny finance Pirátů:
        br
        a(href="https://www.pirati.cz/fo/seznam_uctu") Seznam účtů.
