include amp.html

h1 Pirátská strana
  br
  | Krajské volby 2016
  br
  | Plzeňsko

p Nevíte, koho volit? Pirátská strana Plzeňský kraj přínáší přehledné informace - kandidáti, program, transparentní financování. Zjistěte sami, proč je nejlepší volba prostě volit Piráty.

include ./partials/candidates
+kandidatiSectionAMP

include amp-end.html
