extends layout

//- route sends articles

//- RENDER

block title
  | Loga z novin -&nbsp;

block content
  section#kandidati.container.content-section
    .row
      .col-md-6.col-md-offset-3
        h2 Loga z novin
        ol
          li UMBRELLA CORPORATION ze série her a filmů Residen Evil
          li OMNI CONSUMER PRODUCTS z filmu Robocop
          li ABSTERGO INDUSTRIES ze série her Assasins Creed
          li APERTURE LABORATIES ze hry Portal
          li MOM-CORP ze seriálu Futurama
          li LEXCORP z filmu a serálu Superman
          li GOLIATH NATIONAL BANK ze seriálu How I met your mother (Jak jsem poznal vaší matku)
          li LOS POLLOS ze seriálu Breaking bad (Perníkový táta)
          li CYBERDYNE SYSTEMS ze filmu Terminátor
          li DHARMA ze serálu Lost (Ztraceni)
          li FERENGI ALLIANCE ze seriálu Star Trek
          li AGROFERT ze skutečnosti :(
